<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FireFighters</title>
</head>
<body>
    <div class="container">
   <h1 class="display-4 text-center text-danger mt-4 mb-4">Fire Fighters Overtime</h1>

<div class="mb-3">
  <label for="excelFile" class="form-label">Upload Excel file</label>
  <input class="form-control" type="file" id="excelFile" accept=".xlsx">
</div>

<table class="table table-dark">
  <thead>
    ...
  </thead>
  <tbody>
    <tr class="table-active">
      ...
    </tr>
    <tr>
      ...
    </tr>
    <tr>
      <th scope="row">1</th>
      <td colspan="2" class="table-active">Larry</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td colspan="2" class="table-active">Larry the Bird</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2" class="table-active">Mary</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td colspan="2" class="table-active">Mama</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
</body>

</html>