<!-- 
Filename: app.component.html
Authors: Bartha Levente Gábor, Cipola Ákos, Vámosi László Ádám
Cordoba, 2025 
-->

<div class="container-fluid">

  <div class="card shadow-lg border-danger-subtle">
    <div class="card-body">
      <h1 class="display-6 text-center text-danger mb-4 fw-bold">
        🚒 Herramienta de horas extra para bomberos
      </h1>

      <div class="mb-3">
        <label for="excelFile" class="form-label fw-semibold">Subir archivo de Excel</label>
        <input class="form-control form-control-sm mb-3" type="file" (change)="onFileChange($event)" id="excelFile"
          accept=".xlsx">
      </div>

      <div class="d-flex justify-content-center gap-2 mb-4">

        @if (pendingRows.length > 0) {
        <button class="btn btn-danger" (click)="processPendingData()">
          <i class="bi bi-gear"></i> Procesar archivo
        </button>
        }

        @if (workerSummaries.length > 0) {
        <button class="btn btn-secondary" (click)="downloadJSON()">
          <i class="bi bi-download"></i> Descargar JSON
        </button>
        }

      </div>

      @for (worker of workerSummaries; track worker.id) {
      <div class="card mb-3">
        <div class="card-header">
          <h2>{{ worker.name }} (ID: {{ worker.id }})</h2>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-bordered table-hover align-middle">
              <thead class="table-danger">
                <tr class="text-center">
                  <th scope="col">Lugar</th>
                  <th scope="col">Inicio</th>
                  <th scope="col">Fin</th>
                  <th scope="col">Nº Parte</th>
                  <th scope="col">Horas Totales</th>
                  <th scope="col">Horas Ajustadas</th>
                </tr>
              </thead>
              <tbody>
                @for (i of worker.interventions; track i.report) {
                <tr>
                  <td>{{ i.location }}</td>
                  <td>{{ i.start | date:'short' }}</td>
                  <td>{{ i.end | date:'short' }}</td>
                  <td>{{ i.report }}</td>
                  <td>{{ i.totalHours }}</td>
                  <td>{{ i.adjustedHours }}</td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <h3 class="float-end"><strong>Tiempo total ajustado:</strong> {{ worker.totalAdjustedHours }}</h3>
        </div>
      </div>
      }

    </div>
  </div>
</div>
